body, header, div, p, h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", "Arial", sans-serif;
}
h1, h2, h3, h4 {
    font-family: 'Merriweather', "Times New Roman", serif;
}
header {
    position: relative;
}
header img.banner {
    width: 100%;
    height: auto;
    display: block;
    filter: brightness(0.5);
}
.banner--title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    width: 80%;
}
.banner--title h1 {
    font-size: 48px;
    margin-bottom: 10px;
}
.banner--title h2 {
    font-size: 36px;
    margin-bottom: 20px;
}
.banner--title span {
    display: inline-block;
    margin-top: 10px;
    font-size: 24px;
    width: 160px;
    padding: 9px;
    border: 1px solid white;
}
.banner--title span a {
    color: white;
    text-decoration: none;
}
.highlights {
    padding: 20px;
    overflow: hidden;
}
.highlights h2 {
    margin-bottom: 20px;
    border-bottom: 1px solid black;
    padding-bottom: 5px;
}
.highlights--container {
    float: left;
    width: 580px;
    height: 390px;
    margin-right: 10px;
    box-sizing: border-box;
    padding: 10px;
}
.highlights--container:last-child {
    margin-right: 0;
}
.highlights--media img {
    float: left;
    width: 285px;
    height: 190px;
    margin-right: 10px;
    object-fit: cover;
}
.highlights--text {
    overflow: hidden;
}
.highlights--button {
    float: right;
    background-color: orange;
    color: white;
    padding: 5px 15px;
    text-decoration: none;
    border-radius: 0;
    margin-top: 10px;
}
.highlights--text h4,
.highlights--text p {
    margin: 0 0 5px 0;
}
.mosaic {
    position: relative;
    width: 1170px;
    height: 990px;
    margin: 30px auto 0;
}
.mosaic-item {
    position: absolute;
}
.mosaic-item img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.mosaic--a {
    left: 0;
    top: 0;
    width: 580px;
    height: 390px;
}
.mosaic--b {
    left: 590px;
    top: 0;
    width: 285px;
    height: 190px;
}
.mosaic--c {
    left: 590px;
    top: 200px;
    width: 285px;
    height: 190px;
}
.mosaic--d {
    left: 885px;
    top: 0;
    width: 285px;
    height: 390px;
}
.mosaic--e {
    left: 0;
    top: 400px;
    width: 285px;
    height: 390px;
}
.mosaic--f {
    left: 295px;
    top: 400px;
    width: 285px;
    height: 190px;
}
.mosaic--g {
    left: 590px;
    top: 400px;
    width: 285px;
    height: 190px;
}
.mosaic--h {
    left: 885px;
    top: 400px;
    width: 285px;
    height: 390px;
}
.mosaic--i {
    left: 0;
    top: 800px;
    width: 285px;
    height: 190px;
}
.mosaic--j {
    left: 295px;
    top: 600px;
    width: 580px;
    height: 390px;
}
.mosaic--k {
    left: 885px;
    top: 800px;
    width: 285px;
    height: 190px;
}